# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/wpforms*
!web/app/plugins/views-for-wpforms*
!web/app/plugins/LayerSlider
!web/app/plugins/fusion-builder
!web/app/plugins/fusion-core
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/.well-known/
web/app/mu-plugins/wp-migrate-db-pro-compatibility.php
# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Delecious Brains, Composer
auth.json
